body {
    font-family: 'Arial', sans-serif;
    background-size: cover; /* Ensures the image covers the whole area */
    background-position:top; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-image: url('../output.jpg');
}


h1 {
    font-size: 3rem;
}

.navbar-brand {
    font-weight: bold;
}
.container h2 , h3 ,h5 {
    color: white;
}